input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.loginButton {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.loginButton:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		 display: block;
		 float: none;
	}
	.cancelbtn {
		 width: 100%;
	}
}

h1.title {
	display: block;
	border-bottom: 2px outset  #C1C1C1;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	padding: 10px;
}

.jumbotron {
	width: 100%;
}

.alert {
	width: 100%;
}

.tools {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	visibility: hidden;
}

.wall{
	background-color: rgb(129, 129, 129);
}

.playButton{
 z-index:10;
 display: block;
 position: relative;
}

.playButton .icon{
	position: absolute;
	left: 50%;
	top: 50%;
	background: url(https://www.freepnglogos.com/uploads/play-button-png/index-media-cover-art-play-button-overlay-5.png) no-repeat center; 
	background-size: 80px auto;
	width: 80px;
	height: 80px;
	z-index: 9;
	opacity: 0;
	-webkit-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	margin: -32px 0 0 -32px;
}
.playButton:hover .icon{
	opacity: 1;
}

.videoPlayer{
		width: 1200;
		height: 700;
		margin: 20 0 20 0 ;
}

.posterDisplay{
			width: 240;
			height: 400;

}

.spacing{
		margin-top: 30px;
		margin-bottom: 30px;
}

/* Images configurations */

.popcorn-logo{
		width: 200;
		height: 200;
}

*{
	margin: 0;
	padding: 0;
}
.rate {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.rate:not(:checked) > input {
	position:absolute;
	top:-9999px;
}
.rate:not(:checked) > label {
	float:right;
	width:1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:30px;
	color:#ccc;
}
.rate:not(:checked) > label:before {
	content: '★ ';
}
.rate > input:checked ~ label {
	color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.wrapper {
	display: inline-block;
}
.wrapper * {
	float: right;
}
/* input {
	 visibility: hidden;
} */


 label {
	font-size: 30px;
	cursor: pointer;
}

input:checked ~ label {
	color: goldenrod;
}

label:hover,
label:hover ~ label {
	color: goldenrod;
}
input:checked ~ label:hover,
input:checked ~ label:hover ~ label {
	color: lime !important;
}