<div>
<h3>Become a member</h3>
</div>

<form action="/register" method="POST">

  <div class="imgcontainer">
    <img src="https://1.bp.blogspot.com/-gWuV7QswJ8o/Tp9cjoCi1WI/AAAAAAAADOg/1jMcZXBtm1E/s1600/I+Love+Film+Facebook+Profile+Covers.png" alt="Logo" style="width: 100%">
  </div>

  <div class="container">
    <label for="name"><b>Name*</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" required>
      
    <label for="email"><b>Email*</b></label>
    <input type="text" placeholder="Enter Username" name="email" id="email" required>

    <label for="password"><b>Password*</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <label for="country"><b>Country</b></label>
    <input type="text" placeholder="Enter country" name="country" id="country">

		<label for="country"><b>Area</b></label>
    <input type="text" placeholder="Enter area" name="area" id="area">

    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter city" name="city" id="city">

    <label for="address"><b>Street</b></label>
    <input type="text" placeholder="Enter address" name="street" id="street">
    
    <label for="postalCode"><b>Number</b></label>
    <input type="text" placeholder="Enter number" name="number" id="number">
        
    <button class="loginButton" type="submit">Register</button>
    
  </div>

  <div class="container" style="background-color:black">
    <a href="/login">Already a member? Login Here!</a>
  </div>
</form>