<html>
    <head>
        <meta charset="UTF-8" />
        <title>Home Cinema</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/all.min.css"/>
        <link rel="stylesheet" href="/css/style.css" />


    </head>
    <body class="wall">
            <div class="container">
                <div class="row">
                    {{{body}}}
                </div>
            </div>

        <script language="javascript" src="/jquery.min.js"></script>
        <script language="javascript" src="/js/bootstrap.min.js"></script>
        <script language="javascript" src="/js/main.js"></script>

    </body>
</html>